*{
	margin: 30px;
	color: white;
	font-family: arial;
}
div#imagen{
	width: 195px; 
	height:100px;
	background-image: url(logos/-huawei.png);
}
div#info{
	position: absolute;
	overflow: hidden;
	width: 195px; 
	height:100px;
	background-color: rgba(31,31,31,0.9);
	-webkit-transition: opacity 0.2s;
	-moz--transition: opacity 0.2s;
	opacity: 0;
}

div#imagen:hover div#info{
	opacity: 1;
}
p#headline{
	-webkit-transition: margin: 0.2s;
	position: absolute;
margin-top:20px;
font-size: 21px;
}
div#image:hover p#headline{
margin-left: 70px;
}
p#info2{
	font-size: 15px;
	margin-top: 40px;
}
