body{
background-color: white;
font-family: arial;
}
#main-container{
margin: 2px;
width: 600px;
}
table{
background-color: white;
text-align: left;
width: 164%;
}
th, td{
padding: 20px; 
}
thead{
background-color: #D3D3D3;
border-bottom: solid 5px #D3D3D3;
color: white;
}
tr:nth-child(even){
background-color: #ddd;
}
tr:hover{
background-color: #B0C4DE;
color: white;
} 
footer{
	background-color: black;
	color:white;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           